%form{ :action => '', :method => 'post' }
  %p
    %label{ :for => 'email' } Email:
    %input{ :type => 'text', :name => 'email', :class => 'text' }
  %p
    %label{ :for => 'message' } Message:
    %input{ :type => 'text', :name => 'message', :class => 'text' }
  %p
    %input{ :type => 'submit', :value => 'Send', :class => 'button' }
